<html>
<head>
  <title>Farmers Market iCalendar</title>
</head>
<body>
  <form action="/farmers_markets.ics">
    <p>
      <label for="zip">Zip Code</label>
      <input type="text" name="zip">
    </p>
    <p>
      <label for="km">Range (km)</label>
      <input type="text" name="km">
    </p>
    <p>
      <input type="submit" name="download" value="Download iCalendar">
      <input type="submit" name="subscribe" value="Subscribe iCalendar">
    </p>
  </form>
</body>
</html>
